<%
  content_for :title, 'Welcome'
%>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <div class="spectrum-CSSExample-example">
      <h2>Make a Reservation</h2>
      <%= form_for @reservation, html: { class: 'spectrum-Form', id: 'reservation-form' } do |f| %>
        <div class="spectrum-Form-item">
          <%= f.label :vehicle_id,
                      "Select Vehicle",
                      class: 'spectrum-FieldLabel spectrum-FieldLabel--sizeL spectrum-Form-itemLabel spectrum-FieldLabel--left'
          %>
          <div class="spectrum-Form-itemField">
            <div class="spectrum-Textfield">
              <%= f.select :vehicle_id,
                           options_from_collection_for_select(current_user.vehicles, :id, :license_plate_number),
                           include_blank: true,
                           required: true,
                           placeholder: 'Select Vehicle',
                           class: 'spectrum-Textfield-input vehicle-select'
              %>
            </div>
          </div>
        </div>
        <p>
          <button
            disabled="disabled"
            class="spectrum-Button spectrum-Button--fill spectrum-Button--accent spectrum-Button--sizeL">
            <span class="spectrum-Button-label">Start</span>
          </button>
        </p>
      <% end %>
    </div>
  </div>
</section>

<script>
  const vehicleSelect = document.querySelector('#reservation-form select');
  const startButton = document.querySelector("#reservation-form button");

  vehicleSelect.addEventListener('change', (event) => {
    const vehicleId = event.target.selectedOptions[0].value;
    if (!vehicleId) {
      return;
    }
    startButton.disabled = false;
  });

  startButton.addEventListener('click', () => {
    const vehicleId = vehicleSelect.selectedOptions[0].value;
    if (!vehicleId) {
      return;
    }
    top.location.href = `/users/<%= current_user.id %>/vehicles/${vehicleId}/reservations/new`;
  });
</script>
