<h1>Run Billing</h1>

<%= form_tag preview_admin_billing_path, method: :get do %>
  <div>
    <label>Select Month:</label>
    <%= select_tag :period, options_for_select(@available_months.map { |m| [m[:label], m[:start].to_s] }) %>
  </div>
  <div>
    <%= submit_tag 'Preview', class: 'btn' %>
  </div>
<% end %>

<p><%= link_to 'Back to Dashboard', admin_billing_path %></p>
