<%
  content_for :title, 'Edit Vehicle'
%>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <div class="spectrum-CSSExample-example">
      <%= render 'user_vehicles/form' %>
    </div>
  </div>
</section>
