<%
  content_for :title, 'New Vehicle'
%>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <p>
      Create a new vehicle for a user.
    </p>
    <div class="spectrum-CSSExample-example">
      <%= render 'form' %>
    </div>
  </div>
</section>
