@import 'spectrum/vars/spectrum-global';
@import 'spectrum/vars/spectrum-medium';
@import 'spectrum/vars/spectrum-light';
@import 'spectrum/tokens/index';
@import 'spectrum/page/index-vars';
@import 'spectrum/typography/index-vars';
@import 'spectrum/icon/index-vars';
@import 'spectrum/buttongroup/index-vars';
@import 'spectrum/button/index-vars';
@import 'spectrum/site/index-vars';
@import 'spectrum/sidenav/index-vars';
@import 'spectrum/table/index-vars';
@import 'spectrum/actionbutton/index-vars';
@import 'spectrum/fieldlabel/index-vars';
@import 'spectrum/fieldgroup/index-vars';
@import 'spectrum/textfield/index-vars';
@import 'spectrum/checkbox/index-vars';
@import 'spectrum/toast/index-vars';
@import 'spectrum/closebutton/index-vars';
@import 'spectrum/badge/index-vars';
@import 'spectrum/dialog/index-vars';
@import 'spectrum/tray/index-vars';
@import 'spectrum/modal/index-vars';
@import 'spectrum/divider/index-vars';
@import 'reservations';

body,
html {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

[hidden] {
  display: none !important;
}

pre {
  margin: 0;
  padding: 0;

  border: none;

  background: transparent;
}

pre.html {
  margin: 0;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
}

code[class*="language-"], pre[class*="language-"] {
  text-shadow: none;
  font-size: inherit;
}

.spectrum-BigSubtleLink {
  display: block;
  text-decoration: none;
  color: inherit;
  outline: none;
  vertical-align: middle;
}

.spectrum-BigSubtleLink.focus-ring,
.spectrum-BigSubtleLink:hover {
  text-decoration: underline;
}

#start-reservation a {
  text-decoration: none;
  cursor: pointer;
}

table.reservations-table tr.cancelled td {
  color: var(--spectrum-global-color-gray-400)
}
