#parking-spot-status {
    margin-top: 40px;
}

#parking-spot-status h2 {
    margin: 0;
    padding: 0;
}

#parking-spot-status h3 {
    margin: 0;
    padding: 20px 25px;
}

#parking-spot-status .day {
    margin-bottom: 20px;
}
#parking-spot-status .day-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 10px 15px;
}

#parking-spot-status .day-header {
    color: var(--spectrum-global-color-static-white);
}

#parking-spot-status .weekday {
    width: 100px;
}

#parking-spot-status .week-number {
    display: flex;
    align-items: center;
}

#parking-spot-status .day-header.mon {
    background-color: var(--spectrum-global-color-magenta-400);
}

#parking-spot-status .day-header.tue {
    background-color: var(--spectrum-global-color-orange-400);
}

#parking-spot-status .day-header.wed {
    background-color: var(--spectrum-global-color-yellow-400);
}

#parking-spot-status .day-header.thu {
    background-color: var(--spectrum-global-color-green-400);
}

#parking-spot-status .day-header.fri {
    background-color: var(--spectrum-global-color-celery-400);
}

#parking-spot-status .day-header.sat {
    background-color: var(--spectrum-global-color-blue-400);
}

#parking-spot-status .day-header.sun {
    background-color: var(--spectrum-global-color-blue-700);
}

#parking-spot-status .day-options,
#parking-spot-status .parking-spots {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

#parking-spot-status .slot-options {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 7px;
}

#parking-spot-status .slot-options > div {
    height: 68px;
    margin: 5px 5px 5px 0;
    color: var(--spectrum-white);
    background-color: var(--spectrum-global-color-chartreuse-400);
    transition: background-color 0.25s ease;
}

#parking-spot-status .slot-options h3 {
    padding: 20px 17px;
}

#parking-spot-status .slot-options > div:not(.selected) h3:hover {
    background-color: var(--spectrum-global-color-chartreuse-500);
}

#parking-spot-status .slot-options > div:not(.disabled) {
    cursor: pointer;
}

#parking-spot-status .slot-options > div.disabled,
#parking-spot-status .parking-spot.disabled
{
    background-color: var(--spectrum-global-color-gray-300);
}

#parking-spot-status .slot-options > div.selected,
#parking-spot-status .parking-spot.selected
{
    background-color: var(--spectrum-global-color-orange-400);
}

#parking-spot-status .parking-spot {
    width: 75px;
    margin: 5px 0 5px 5px;
    color: var(--spectrum-white);
    background-color: var(--spectrum-global-color-seafoam-400);
    transition: background-color 0.25s ease;
}

#parking-spot-status .parking-spot.available:not(.disabled) {
    cursor: pointer;
}

#parking-spot-status .parking-spot.available:not(.disabled):not(.selected):hover {
    background-color: var(--spectrum-global-color-static-seafoam-300);
}

#parking-spot-status .parking-spot.unavailable {
    background-color: var(--spectrum-global-color-gray-400);
}
